.SideBar{
    row-gap: 2px;
    opacity: 1;
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    top: 68px;
    left: 0px;
    width: 240px;
    height:100%;
    transition: 1s;
    border-bottom: #342616 solid 1px;
}
.hola{
    background-color: #534666;
    height: 1920px;
}
.SBButton{
    user-select: none;
    z-index: 99;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 240px;
    height: 100%;
    border: 0;
    background-color: #534666;
    box-shadow: rgb(42, 42, 42) 1px 1px 8px;
    transition: 1s;
}
.SBBtns{
    cursor: pointer;
    font-size: 15px;
    color: white;
    text-shadow: black 1px 2px 3px;
    height: inherit;
    border: 0px;
    border-style: solid;
    background:linear-gradient(230deg, #534666, #382942);
    border-radius: 4px;
    transition: 0.2s;
}
.SBBtns:hover{
    color: white;
    text-shadow: black 1px 2px 3px;
    font-size: 18px;
    border-style: solid;
    background:linear-gradient(210deg, #434666, #232630);
    box-shadow: #3f1954 3px 3px 3px;
    border-radius: 25px;
    transform: skew(10deg);
}
.SBBtns:active{
    background-color: rgb(67, 16, 01);
    font-size: 20px;
}
.SBButton:active{
    background-color: rgb(48, 38, 65);
}

@media (max-width: 1355px) {
    .SideBar{
        transition: 0s;
        visibility: hidden;
        opacity: 0;
    }
    .SBButton{
        transition: 0s;
        visibility: hidden;
    }
}